<div ng-controller="PesquisaBingoController">
    <div class="text-left">
        <h2>Informações sobre o bingo</h2>
        <p>Tela responsável mostrar informações e iniciar/continuar jogos</p>
    </div>
    <div>
        <input type="hidden" name="id_bingo" ng-bind="id_bingo">
        <div class="form-group">
            <label for="inputDescricao">Descrição</label>
            {{ descricao }}
        </div>
        <div class="form-group">
            <label for="inputDescricao">Quantidade de bolas a serem sortiada</label>
            <span id="range"> {{ numero }}</span>
        </div>
    </div>
    <div class="pull-right">
        <a href="/" class="btn btn-primary" title="Voltar"><i class="fa fa-home"></i>&nbsp;Voltar</a>
        <button class="btn btn-info" title="Imprimir Cartela"><i class="fa fa-file-text"></i>&nbsp;Imprimir Cartela</button>
        <button class="btn btn-warning" title="Continuar Jogo"><i class="fa fa-pause-circle"></i>&nbsp;Continuar Jogo</button>
        <button class="btn btn-success" title="Novo jogo"><i class="fa fa-play-circle-o"></i>&nbsp;Continuar Jogo</button>
    </div>
</div>