<div ng-controller="PesquisaBingoController">
    <div class="text-left">
        <h2>Tela de Pesquisa</h2>
        <p>Lista os bingos cadastrados</p>
    </div>
    <div class="pull-right">
        <a href="cadastro" class="btn btn-success" title="Novo Jogo" ng-click="cadastrar()">Novo Jogo</a>
    </div>
    <br />
    <br />
    <br />
    <div ng-hide="booOcultaGrid">
        <input type="text" ng-model="searchChar" placeholder="Search">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data de cadastro</th>
                    <th>Número de bola sorteada</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bingo in arrBingo | filter:searchChar">
                    <td>{{ bingo.ds_descricao }}</td>
                    <td>{{ bingo.dat_cadastro }}</td>
                    <td>{{ bingo.in_quantidade_bola_sorteada }}</td>
                    <td>
                        <a href="informacao/{{ bingo.id_bingo }}" style="color: #000;">
                            <i class="fa fa-gamepad" title="Informações do Jogo" style="cursor: pointer"></i>
                        </a>
                        <a href="editar/{{ bingo.id_bingo }}" style="color: #000;">
                            <i class="fa fa-edit" title="Editar" style="cursor: pointer"></i>
                        </a>
                        <i class="fa fa-trash-o" title="Excluir" style="cursor: pointer" ng-click="excluir(bingo)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>